.editorWrapper {
  .editorSection {
    color: white;
    position: relative;

    &__left {
      background-image: url("/assets/hill-img.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 610px;
      border-radius: 15px;
      display: flex;
      align-items: end;
      @include md {
        height: 310px;
      }
      @include sm {
        height: 130px;
      }
      .editorSection__left__content {
        position: absolute;
        .editorSection__info {
          display: flex;
          align-items: center;
          margin-top: 10px;

          img {
            height: 35px;
            width: 35px;
            border-radius: 15px;
            object-fit: cover;

            @include sm {
              height: 30px;
              width: 30px;
            }
          }

          .editorSection__bokmark {
            border: 1px solid hsla(0, 0%, 100%, 0.4);
            height: 35px;
            width: 35px;
            font-size: 16px;
            text-align: center;
            margin-left: 20px;
            cursor: pointer;
            border-radius: 50%;
            color: white;

            @include sm {
              height: 30px;
              width: 30px;
              font-size: 11px;
            }
            &:hover {
              border: 1px solid white;
            }
            i {
              padding: 10px;
            }
          }

          .info-content {
            margin-left: 15px;
            span {
              display: block;
              &.name {
                color: white;
                font-size: 16px;
                font-weight: 500;
                line-height: 16px;
                margin-bottom: 5px;
                @include sm {
                  font-size: 14px;
                  line-height: 14px;
                  margin-bottom: 3px;
                }
              }
              &.date {
                color: white;
                font-size: 12px;
                font-weight: 500;
                line-height: 12px;
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
  .editor-wrapper {

    @include md {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
    }
    @include sm{
      display: block;
    }
    .editorSection__right {
      // margin-bottom: 30px;
      max-height: 610px;

      &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include md {
          display: -webkit-box;
        }
        .editorSection__right__content__img {
          border-radius: 15px;
          overflow: hidden;
          height: 130px;
          width: 130px;
          position: relative;
          @include md {
            height: 90px;
            width: 90px;
          }
          // margin-right: 20px;
          .bookmark {
            display: block;
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: white;

            i {
              color: white;
              font-size: 120px;
            }
          }

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: transform 0.9s ease;
            border-radius: 15px;
            transform: scale(1.5);
          }
          &:hover {
            img {
              transform: scale(1);
              filter: grayscale(0.7);
            }
          }
        }

        .editorSection__content__item {
          margin-left: 20px;
          max-width: 285px;
          h3 {
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;
            color: white;
            @include md {
              font-size: 18px;
              line-height: 23.4px;
            }
          }
          span {
            color: rgb(178, 178, 178);
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
          }
        }
      }
    }
  }
}
