@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

// font weight 500

.custom-container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media (max-width: 1024px) {
    max-width: 1024px;
  }
  @media (max-width: 767px) {
    max-width: 767px;
  }
}

.button {
  background-color: #007b8e;

  border-radius: 10px;
  padding: 7px 13px;

  letter-spacing: 0.5px;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    color: white;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 600;
  }

  .circle {
    height: 6px;
    width: 6px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 8px;
  }
  &:hover {
    .circle {
      background-color: white;
    }
  }
}

.transparent-button {
  background-color: transparent;

  border-radius: 10px;
  padding: 7px 13px;
  padding-left: 5px;

  letter-spacing: 0.5px;
  line-height: 1;
  position: relative;
  display: inline-block;

  a {
    text-decoration: none;
    color: white;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 600;
  }

  .circle {
    height: 6px;
    width: 6px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 1px;
  }
  &:hover {
    .circle {
      background-color: white;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}
