$orange-color: rgb(255, 87, 34);
$green-color: rgb(76, 175, 80);
$yellow-color: rgb(255, 193, 7);
$sky-color: rgb(33, 150, 243);
$purple-color: rgb(211, 27, 202);
$dark-orange-color: rgb(244, 67, 54);
$pink-color: rgb(255, 0, 153);
$soft-green:rgb(130, 201, 0);
$soft-red:rgb(220, 20, 60);
